.divCont {
  background-color: aquamarine;
  display: flex;
}
.divItem1 {
  background-color: azure;
  width: 10rem;
  flex-basis: 50rem;
}
.divItem2 {
  background-color: red;
  width: 10rem;
}
.divItem3 {
  background-color: rgb(194, 129, 129);
  width: 10rem;
}
.divItem4 {
  background-color: rgb(34, 88, 236);
  width: 10rem;
}
.divItem5 {
  background-color: rgb(125, 236, 34);
  width: 5rem;
}
/* 
Main axis=> column 
cross axis=> row
*/
/* 
Properties of flex container
1) Justify content
2) aling items
3) gap
4) flex wrap
5) Justify items
6) align content
7) flex direction
*/
