*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
body {
  background-color: aliceblue;
}
.mainDiv {
  width: 1200px;
  margin: 15px;
}

img {
  width: 300px;
  float: right;
  margin-top: -120px;
}
