@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* ==========
CSS reset
============ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}
:root {
  --primary-color: #1498c8;
  --secondaary-color: #ffffff;
}
::placeholder {
  font-family: "Poppins", sans-serif;
}
/* ==========
Utilities
============ */
.flex {
  display: flex;
}
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  border: none;
}
.btn-secondary {
  background-color: inherit;
  color: white;
  border: 1px solid #fff;
}
/* ==========
Header
============ */
.header {
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
.navbar {
  padding: 1rem;
  color: white;
  justify-content: space-between;
  align-items: center;
}
.NavMainHead {
  font-size: 8px;
  cursor: pointer;
}
.navQuoteBtn {
  color: #ffffff;
  background-color: #1498c8;
  padding: 0.5rem 1rem;
  display: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.navLinkCont {
  display: none;
}
.navlinkul {
  list-style: none;
}
.navlinkul > li {
  padding-right: 2rem;
  cursor: pointer;
}

.navBars {
  cursor: pointer;
}
/* ==========
Header
============ */
.topHeadCont {
  color: #ffffff;
  padding: 2rem;
  text-align: center;
}

.TopHeadQuote {
  padding: 1rem 2rem;
  border-radius: 60px;
}
.headBtnCont > * {
  margin-top: 1.5rem;
}
.bookAppForm {
  background-color: var(--secondaary-color);
  text-align: left;
  color: black;
  padding: 2rem;
  border-radius: 6px;
  display: none;
}
.bookAppForm > * {
  padding-bottom: 2rem;
}
.bookAppForm > form > input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(233, 229, 229);
  color: black;
  outline: none;
}
.bookAppForm > form > label {
  font-weight: 600;
}
.bookAppForm > form > select {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #e1e1e1;
  color: black;
  outline: none;
  width: 12rem;
  font-family: "Poppins", sans-serif;
}
#name {
  margin-bottom: 1rem;
}
#email {
  margin-bottom: 1rem;
}
#options {
  margin-bottom: 1rem;
}
.appBtn {
  padding: 1rem 0.1rem;
  width: 100%;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
/* =============
Medicine section
================ */
.MedSec {
  text-align: center;
  padding: 0.7rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.MedSecContenth1 {
  font-weight: 800;
}
.MedSecContent > article {
  color: #b1aeae;
}
.MedSecContent {
  margin: 3rem 0px;
}
.MedSecCard {
  padding: 1rem;
}
.peopleBox {
  background-color: #fff;
  padding: 0.5rem 0.5rem;
  border-radius: 100%;
  color: #1498c8;
}
.MedSecCardup1 {
  background-color: #61c4e7;
  width: 100%;
  height: 6rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  font-weight: bold;
}
.MedsecCard1cont {
  border: 1px solid #1498c8;
  border-radius: 5px;
}
.MedSecCardup1btm {
  text-align: left;
  padding: 2rem;
}
.MedSecCard > * {
  margin-bottom: 1rem;
}
/* ==========
Doctor section
============ */
.docSec {
  background-color: #b1aeae;
  padding: 1rem;
  margin: 3rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.docSecTop {
  text-align: center;
  padding-bottom: 1rem;
}
.docsecRev1 {
  border: 1px solid rgb(123, 120, 120);
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.docsecRev1:hover {
  box-shadow: 3px 3px 3px gray;
}
.docsecRev1 > * {
  margin-bottom: 0.8rem;
}
/* ==========
FAQ
============ */
.faqCont {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 1rem 0px;
}
.faqbtm {
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.faqbtm1 {
  width: 15rem;
  gap: 0.5rem;
  padding: 1rem;
}
.faqIn {
  width: 15rem;
}
/* ==========
Pricing section
============ */
.priceCont {
  background-color: #fbf7f7;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 2rem 0px;
}
.pricetopcont {
  padding: 1rem;
}
.pricingbuttons {
  flex-direction: column;
  padding: 5px 3rem;
  gap: 1rem;
}
.pricingbuttons > button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
#pricingChart2 {
  color: #f0efed;
  background-color: #32324e;
  margin-top: 2rem;
}

.circleTickgreen {
  background-color: #1bf21f;
  width: 3rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 100%;
}

.circleTickgray {
  background-color: #cad0cb;
  width: 3rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 100%;
}
.priceChartHead {
  display: none;
}
.pricingChart1 {
  background-color: #fff;
  padding: 2rem 3rem;
  border: 2px solid #1498c8;
  width: 18rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.priceChartBtn {
  width: 100%;
  padding: 0.8rem 4rem;
  border-radius: 4px;
  margin-top: 1rem;
}
/* ==========
Contact Section
============ */
.contactSec {
  background-color: #32324e;
  color: #fff;
}
.contactSectop {
  padding: 1rem;
}
.contactSecbtm {
  background-color: #fff;
  margin: 1rem 0px;
  color: black;
  justify-content: space-between;
}
.contactSecbtm > input {
  border: none;
  outline: none;
}
.contactSecbtm > div {
  background-color: #1498c8;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
/* ==========
Footer
============ */
.footCont {
  margin-top: 2rem;
}
.footCont1 {
  padding: 1rem;
}
.footCont1 > * {
  margin-bottom: 1rem;
}
.footCont1 > span {
  color: #b1aeae;
}
.footCont2 > * {
  margin: 1rem;
}
.footCont2 > ul > li {
  list-style-type: none;
  padding-bottom: 0.5rem;
  color: #b1aeae;
  cursor: pointer;
}
.footCont2 {
  padding: 0.5rem;
}
.btmCont {
  background-color: #fcfafa;
  padding: 1rem 0px;
  text-align: center;
}
/* ==========
Media
============ */
@media screen and (min-width: 640px) {
  .container {
    max-width: 1182px;
    margin: 0px auto;
  }
  .navBars {
    display: none;
  }
  .navQuoteBtn {
    display: block;
  }
  .NavMainHead {
    font-size: 1rem;
  }
  .topHeadCont {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
  }
  .headContentMain {
    width: 50%;
    margin: 10rem 0px;
  }
  .bookAppForm {
    width: 17rem;
    display: block;
    height: 33rem;
    margin-top: 5rem;
  }
  .headContentMain > h1 {
    font-size: 2rem;
  }
  .headBtnCont > * {
    margin-left: 1rem;
  }
  .MedSecContent {
    width: 30rem;
    margin: 6rem 0px;
  }
  .MedSecContenth1 {
    font-weight: bolder;
    font-size: 2.5rem;
  }
  .MedSecCard {
    display: flex;
    gap: 3rem;
  }
  .docSecTop {
    width: 30rem;
  }
  .docsecRevcon {
    padding: 0px 3rem;
  }

  .faqTop {
    width: 30rem;
  }
  .faqCont {
    margin: 3rem 0px;
  }
  .faqbtm {
    margin-top: 3rem;
  }
  .faqbtm1 {
    width: 20rem;
  }
  .pricetopcont {
    width: 30rem;
  }
  .pricingbuttons {
    display: none;
  }
  .priceChartHead {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .contactSec1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .contactSectop {
    width: 45%;
  }
  .contactSecbtm > input {
    padding: 1.2rem 1rem;
  }
  .contactSecbtm {
    border-radius: 5px;
    width: 35%;
  }
  .contactSecbtm > div {
    padding: 0px 0.7rem;
  }

  .priceCont {
    padding: 4rem 0px;
  }
  .contactSectop {
    padding: 2rem 1rem;
  }
  .footCont > *div {
    padding-left: 2rem;
  }
  .docSec {
    padding: 3rem 1rem;
  }
  .docSecTop > h1 {
    font-size: 3rem;
  }
  .faqTop > h1 {
    font-size: 3rem;
  }
  .pricetopcont > h1 {
    font-size: 3rem;
  }
  .contactSectop > h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .docsecRevcon {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem 2rem;
  }
  .footCont {
    display: flex;
    justify-content: space-evenly;
  }
  .footCont > *div {
    width: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .navLinkCont {
    display: block;
  }
  .NavMainHead {
    font-size: 1.5rem;
  }
  .headContentMain > h1 {
    font-size: 5rem;
  }
  .headBtnCont > * {
    margin-left: 1.5rem;
  }
  .faqCont {
    margin: 4rem 0px;
  }
  .priceChartHead {
    justify-content: flex-start;
    flex-wrap: no-wrap;
  }
  .priceCont {
    padding: 6rem 0px;
  }
  .contactSecbtm > div {
    padding: 0px 1.2rem;
  }
  .contactSectop {
    padding: 5rem 1rem;
  }
  .MedSecContenth1 {
    font-size: 3.2rem;
  }
  .docSec {
    padding: 5rem 1rem;
  }
  .docSecTop > h1 {
    font-size: 3rem;
  }
  .faqTop > h1 {
    font-size: 5rem;
  }
  .pricetopcont > h1 {
    font-size: 5rem;
  }
  .contactSectop > h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1536px) {
}
